<div class="mt-5 container w-100">
  <div class="mt-5 d-flex flex-wrap">
    <div>
      <mat-form-field>
        <mat-label>Nome:</mat-label>
        <input matInput type="text" [(ngModel)]="nuovoSocio.name" id="nome" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Cognome:</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="nuovoSocio.lastname"
          id="cognome"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Data di Iscrizione:</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="nuovoSocio.iscrizione"
          id="dataIscrizione"
        />
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center">
      <button
        mat-raised-button
        [disabled]="
          !nuovoSocio.name || !nuovoSocio.lastname || !nuovoSocio.iscrizione
        "
        *ngIf="!modificaAttiva"
        (click)="aggiungiSocio()"
      >
        Aggiungi Socio
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="modificaAttiva"
        (click)="salvaModifiche()"
      >
        Salva Modifiche
      </button>
    </div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Cerca Socio:</mat-label>
      <input
        matInput
        [(ngModel)]="termineRicerca"
        (input)="effettuaRicerca()"
      />
    </mat-form-field>
  </div>
  <table class="table" *ngIf="termineRicerca && sociFiltrati.length > 0">
    <thead>
      <tr>
        <th class="colonna fs-5">Nome</th>
        <th class="colonna fs-5">Cognome</th>
        <th class="colonna fs-5">Data Iscrizione</th>
        <th class="colonnina fs-5">Modifica</th>
        <th class="colonnina fs-5">Cancella</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socio of sociFiltrati">
        <td>{{ socio?.name }}</td>
        <td>{{ socio?.lastname }}</td>
        <td>{{ socio?.iscrizione | date : "dd/MM/yyyy" }}</td>
        <td class="text-center">
          <button mat-mini-fab color="primary" (click)="modificaSocio(socio!)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td class="text-center">
          <button mat-mini-fab color="warn" (click)="eliminaSocio(socio!.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th class="colonna fs-5">Nome</th>
        <th class="colonna fs-5">Cognome</th>
        <th class="colonna fs-5">Data Iscrizione</th>
        <th class="colonnina fs-5">Modifica</th>
        <th class="colonnina fs-5">Cancella</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socio of soci">
        <td>{{ socio?.name }}</td>
        <td>{{ socio?.lastname }}</td>
        <td>{{ socio?.iscrizione | date : "dd/MM/yyyy" }}</td>
        <td class="text-center">
          <button mat-mini-fab color="primary" (click)="modificaSocio(socio!)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td class="text-center">
          <button mat-mini-fab color="warn" (click)="eliminaSocio(socio!.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
